####################################################################################################
# Git EOL normalization and diff configuration patterns for this repo.
# This file is used to allow easy development on Windows and Linux.
# For More info, you can check :
# - https://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git
# - https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings#refreshing-a-repository-after-changing-line-endings
# - https://rehansaeed.com/gitattributes-best-practices/
####################################################################################################

# Auto detect text files and perform LF normalization
*        text=auto eol=lf

*.sh     text eol=lf
*.bat    text eol=crlf

*.cs     text diff=csharp eol=lf
*.java   text diff=java eol=lf
*.html   text diff=html eol=lf
*.css    text eol=lf
*.js     text eol=lf
*.ts     text eol=lf
*.sql    text eol=lf

*.json   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.env    text eol=lf

*.docx   diff=astextplain
*.DOCX   diff=astextplain